body,html{
	height:100%;
	padding:0px;
	margin:0px;
	background-image:url(../Img/Fondo.jpg);
	background-repeat:no-repeat;
	background-size:cover;
  	font-size:3vw}
.c{
	display:block}
.a,.b,.c{
	display:inline-block;
	width:33.33%;
	height:100%;
	float:left;}
.d{
	z-index: 1;
	height: 62%;
    width: 115%;
    position: fixed;
    bottom: -44%;
    left: -7%;}
#nave{text-align:center;
	position:fixed;
	top:10%;
	width:100%;
	height:21%;
	display:block;
	z-index: 2;}
#nave img{
	height:100%;}


#luna {
	width: 100%;
  	height: 100%;
  	position: absolute;}

#engranaje img{
  	position: absolute;
 	 width: 100%;}

#engranaje{
	z-index: 3;
	transition:all .4s ease-in-out;
	min-width: 90px;
  	top: 5%;
  	position: fixed;
  	width: 8%;
 	right: 13%;}

#engranaje:hover{
  transform: scale(1.1);
  cursor: pointer;}

#menu{
  	position: absolute;
  	z-index: 4;
  	background-color: grey;
  	border: solid 3px black;
 	width: 30%;
  	margin-top: 5%;
  	text-align:center;
  	display:inline-block;}
h3, h6{
  	text-shadow: 4px 4px 16px black;}

h6{
	text-decoration: underline;
  	margin-top:0%;
  	margin-bottom:0%;}

.button {
  	width:40%;
  	margin: 4%;
  	display: inline-block;
  	padding: 12px 15px;
 	font-size: 20px;
  	cursor: pointer;
  	text-align: center;
  	text-decoration: none;
  	outline: none;
  	color: #fff;
  	background-color: black;
  	border: hidden;
  	border-radius: 15px;
  	box-shadow: 0 9px #999;}

.button:hover {
  	background-color:black}

.button:focus{
  	box-shadow: none;
  	border:solid white;}

.button:active {
  	background-color: black;
  	box-shadow: 0 5px #666;
  	transform: translateY(4px);}

#return img{
  	width:100%}

#return{
  	outline: none;
  	width: 20%;
  	position: relative;
  	background-color: grey;
  	border-radius: 50%;
  	padding: 3px 6px;
  	margin-top: 10%;
  	margin-right: 70%;
  	margin-bottom: 5%;}

#return:hover{
  	cursor: pointer;}  

#imginf{
  	border: inset;
  	width: 20%;
  	position:absolute;
  	bottom: 2%;
  	right: 5%;}

#imginf img{
  	position:relative;
  	width:100%;}

#imginf:hover{
  	border: inset black;
  	cursor: pointer;
 	transform: translateY(4px);}

#return2{
  	outline: none;
  	width: 10%;
  	position: relative;
  	background-color: grey;
  	border-radius: 50%;
  	padding: 3px 6px;
  	margin-top: 1%;
  	margin-bottom: 2%;}

#return2 img{
  	width:100%;}

#info{
  	top:3%;
  	background-color: grey;
 	position: relative;
  	width: 80%;
  	left: 10%;
  	border: dashed;}

h5{
  	margin-top:1%;
  	margin-bottom:3%;
  	text-align:center;}

p{
  	margin-bottom:0%;
  	font-size: 18px;
  	text-align: justify;
  	margin-left: 1%;
  	margin-right: 1%;}

#p1{
  	font-size:18.5px;
  	text-align:center;}

#sol{
	z-index: 3;
  	right: -15%;
  	width: 30%;
  	position: fixed;
  	top: 30%;}

#sol img{
  	position: absolute;
  	width:100%;}
#nave1{
	text-align:center;
	position:fixed;
	top:10%;
	width:100%;
	height:21%;
	display:none;
	z-index: 2;}
#nave1 img{
	height:100%;}

#avisoVictoria{ 
	display: none;
	position: absolute;
    text-align: center;
    background-color: grey;
    border: solid;
    width: 30%;
    top: 24%;
    z-index: 5;
    height: 22%;
}

#avisoDerrota{
	display: none;
	position: absolute;
    text-align: center;
    background-color: grey;
    border: solid;
    width: 30%;
    top: 24%;
    z-index: 5;
    height: 22%;
}

.reiniciar{
	text-align: center;
    font-size: 50%;
    position: absolute;
    top: 70%;
    border: 2px solid;
    cursor: pointer;
  	border-radius: 15px;
  	box-shadow: 0 9px #999;
}

.reiniciar:active{
	background-color: black;
  	box-shadow: 0 5px #666;
  	transform: translateY(4px);
}
li{
  margin-top: 10%;
  font-size:80%;
  list-style: none;
}

.marcador{
  border: solid;
  background-color: grey;
}

#explo{text-align:center;
  position:fixed;
  top:10%;
  width:100%;
  height:21%;
  display:none;
  z-index: 2;
}
#info{
  top:3%;
  background-color: grey;
  position: relative;
  width: 80%;
  left: 10%;
  border: dashed;}