body{
	margin: 0%;
	
}
header{
	background-color:gray;
}
section{
	background-color: darkgrey;
}
figcaption{
	opacity: 0.5;
}
#s1{
	width: 65%;
}
#s2{
	top: 9%;
    float: right;
    position: absolute;
    right: 0%;
    width: 35%;
}
footer{
	background-color: grey;
}
