body,html{
	height:100%;
	padding:0px;
	margin:0px;
	background-image:url(../img/Fondo.jpg);
	background-repeat:no-repeat;
	background-size:cover;
  	font-size:2vw
  }

ul {
    list-style-type: none;
    margin: 0;    
    padding: 0;
    padding-left:10%;
    overflow: hidden;
    background-color: black;
}

h4{
	font-size:2.75vw;
	text-align: center;
	margin-bottom: 2%;
	margin-top: 1%;
}

.elementomenu {
    display: block;
    background-color: #4c4507;
    font-weight: bold;
	font-size: 1.75vw;
    text-align: center;
    color: lightcyan;
    float:left;
    width: 20%;
    border: 1px #CDDC39 solid;
    margin:0.5%;
    overflow: hidden;   
}

.elementomenu:hover{
    background-color: midnightblue;
    color:lightcyan;
    border: 1px royalblue solid;
    cursor: pointer;
}

#menuSuperior { 
	opacity: 0.9;
    position: fixed;
    width: 100%;
    height: 22.5%;
    top: 0%;
    left: 0%;
    background-color: #c2c43e;
    z-index:2;
}

#menuDiv{
    width:100%;
    height: 25%;
}

#logo{
    text-align:center;
    width:100%;
    height: 75%;
    padding:1% 0%;
    background-color:#505108;
}

#logoimg{
    height: 100%;
}

.divIndex{
    width: 80%;
    background: black;
    opacity: 0.6;
    position: absolute;
    margin-left: 10%;
    margin-top: 15%;
    z-index:1;
    margin-bottom:7%;
}

#ubiDiv{
    display:none;

}
#examDiv{
    display:none;
}

#info{
    text-decoration: underline;
}

.ubiImg{
    width: 30%;
    margin: 0% 5%;
}

#imagenesUbi{
    text-align:center;
    width:100%;
    padding:1% 0%;
}

a{
    text-shadow: 2px 1px 3px;
    text-decoration: none;
    color: #dfff00;
    font-size: 3vw;
    font-weight: bold;
}


a:hover{
    color: darkviolet;
    text-decoration: underline;
    cursor: pointer;
}

#link{
 text-align: center;   
}
.text{
	font-size:35px;
	margin: 2%;
    opacity: 1;
    position: relative;
    color: white;
}
p{
    font-size: 90%;
    margin-bottom: 0%;
    margin-top: 1%;
}